.fa-star  {
    color: #0065FC;
}

.fa-duotone {
    color: #f2f2f2;
}

.fa-info {
    color: #0065FC;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

body {
    display: block;
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 0; 

}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none; 
    color: black;
    cursor: pointer;
}

.mouse-hover:hover {
    border-top: solid;
    padding: 20px 0px 0px 0px;
    color: #0065FC;
}

nav img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 40px 0 20px;
    text-decoration: none; 
}

.fa-map-marker {
    background-color: #f2f2f2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin: 20px -4px 20px 0px;
    padding: 10px 10px 10px 10px;
}

.barre-de-recherche {
    color: black;
    font-family: 'Raleway', sans-serif;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    padding: 10px 10px 10px 10px;
}

.bouton-de-recherche {
    background-color: #0065FC;
    border-radius: 5px;
    border-color: #0065FC;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px 15px 15px 0px;
    margin: 20px 20px 20px -4px;
    padding: 10px 10px 10px 10px;
    cursor: pointer;
}

.filtres {
    display: flex;
    align-items: center;
}

.filtres-titres {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-color: black;
    padding: 0.5em;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
    background-color: #DEEBFF;
    padding: 15px;
    border-radius: 200px;
    margin: -3px 5px -3px -3px;
    border: 3px #DEEBFF solid;
}

.filtres-icones {
    border: 3px #F2F2F2 solid;
    border-radius: 200px;
    margin: 20px;
}

.icone-info {
    display: flex;
}

.fa-info {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 2px solid #f2f2f2;
    margin-right: 10px;
    margin-top: 15px;
}

.premier-bloc {
    display: flex;
    margin: 0;
}

.hebergements-a-marseille {
    background-color: #f2f2f2;
    width: 895px;
    height: 684px;
    justify-content: space-between;
    border-radius: 20px;
    padding: 1em 2em 2em 2em;
    margin-right: 2em;
    flex: 3;
}

.container-1 {
    display: inline-flex;
    justify-content: center;
    border-radius: 20px;
    margin: 20, 20, 20, 20;
}

.card-1 {
    width: 17vw;
    margin: 0 0 2vw 0;
    background-color: white;
    padding: 5px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
    font-size: 0.8rem;
}

.card-image-1 {
    width: 17vw;
    height: 7vw;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 50%;
    overflow: hidden;
}

.les-plus-populaires {
    background-color: #f2f2f2;
    padding: 1em 2em 2em 2em;
    width: 440px;
    height: 684px;
    flex-direction:column;
    align-content: center;
    border-radius: 20px;
}

.container-2 {
    display: block;
    justify-content: center;
}

.card-2 {
    display: flex;
    width: 25vw;
    height: 10vw;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
    font-size: 1rem;
    margin: auto;
    margin-bottom: 2vw;
}   

.pop {
    display: block;
    flex-direction: column;
}
.card-image-2 {
    width: 10vw;
    height: auto;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    object-position: 50% 50%;
}
   

.second-bloc {
    display: flex;
    border-radius: 20px;
    padding: 1em 2em 2em 2em;
    width: 100%;
    margin: 0;
}

.activites-a-marseille {
    flex-wrap: wrap;
    justify-content: space-between;
    display: block;
    width: 100%;
    padding: 1em 2em 2em 2em;
}

.container-3 {
    display: inline-block;
    justify-content: center;
}

.card-3 {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin-right: 0;
    margin-left: 0;
}

.card-image-3 {
    width: 20vw;
    height: 37vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}   

.container-4 {
    display: inline-block;
    justify-content: center;
}

.card-4 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin-right: 0;
    margin-left: 0;
}

.card-image-4 {
    width: 20vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}   

.container-5 {
    display: inline-block;
    justify-content: center;
}

.card-5 {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin-right: 0;
    margin-left: 0;
}

.card-image-5 {
    width: 20vw;
    height: 11.4vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.container-6 {
    display: inline-block;
    justify-content: center;
}

.card-6 {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin-right: 0;
    margin-left: 0;
}

.card-image-6 {
    width: 20vw;
    height: 15.7vw;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    padding-bottom: 2em;
}

footer a {
    text-decoration: none; 
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-items {
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 300px;
}
