.fas {
    color: #0065FC;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

body {
    font-family: 'Raleway', sans-serif;
    margin: 0 300 0 300;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none; 
    color: black;
}

nav a :hover {
    border-bottom:3px dotted #0065FC;
}

nav img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 10px 0 20px;
    text-decoration: none; 
}

.bouton-de-recherche {
    background-color: #0065FC;
    border-radius: 5px;
    border-color: #0065FC;
    color: white;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
    margin: 20px 20px 20px 20px;
}

.filtres {
    display: inline-block;
}

.filtres-titres {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 50%;
    border-color: black;
}
.filtres-icones {
    color: #0065FC;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: none;
    background-color: #dfecff;
}

.icone-info {
    display: flex;
}

.premier-bloc {
    display: flex;
    margin: 0;
}

.hebergements-a-marseille {
    background-color: #f2f2f2;
    border-radius: 20px;
}

.container-1 {
    display: inline-flex;
    justify-content: center;
    border-radius: 15px;
}

.card-1 {
    width: 400px;
    height: 400px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image-1 {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    position: cover;
}

.les-plus-populaires {
    background-color: #f2f2f2;
    width: 30%;
    flex-direction:column;
    align-content: center;
    border-radius: 20px;
}

.container-2 {
    display: inline-flex;
    justify-content: center;
}

.card-2 {
    width: 450px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image-2 {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    object-position: left;
    position: cover;
}  

.second-bloc {
    display: flex;
    margin: 0;
}

.activites-a-marseille {
    flex-wrap: wrap;
    width: 80%;
}

.container-3 {
    display: inline-block;
    justify-content: center;
}

.card-3 {
    width: 450px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image-3 {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    position: cover;
    object-position: top;
}   

.container-4 {
    display: inline-block;
    justify-content: center;
}

.card-4 {
    width: 450px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image-4 {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    position: cover;
    object-position: top;
}   

.container-5 {
    display: inline-block;
    justify-content: center;
}

.card-5 {
    width: 450px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image-5 {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    position: cover;
    object-position: top;
}

.container-6 {
    display: inline-block;
    justify-content: center;
}

.card-6 {
    width: 450px;
    height: 100px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image-6 {
    background-color: white;
    height: 150px;
    margin-bottom: 15px;
    position: cover;
    object-position: top;
}

footer {
    background-color: #f2f2f2;
    display: flex;
}

footer a {
    text-decoration: none; 
    color: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer-items {
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 300px;
}
