:root {
    --bleu-clair: #DEEBFF;
    --gris: #F2F2F2;
}

* {
    box-sizing: border-box;
}

.fa-star {
    color: #0065FC;
}

.grey {
    color: var(--gris);
}

.fa-duotone {
    color: #f2f2f2;
}

.fa-info {
    color: #0065FC;
}

ul {
    list-style: none;
}

li {
    list-style: none;
}

body {
    width: 100%;
    font-family: 'Raleway', sans-serif;
    margin: 50px; 
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    text-decoration: none; 
    color: black;
    cursor: pointer;
}

.mouse-hover:hover {
    border-top: solid;
    padding: 10px 0px 0px 0px;
    color: #0065FC;
}

.hover-link {
    text-decoration: none;
    cursor: pointer;
    color:black;
    font-weight: 600;
}    

nav img {
    height: 40px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 0 40px 0 20px;
    text-decoration: none; 
}

.fa-map-marker {
    background-color: #f2f2f2;
    border: 2px solid #F2F2F2;
    border-radius: 15px 0px 0px 15px;
    margin: 20px -4px 20px 0px;
    padding: 15px 15px 15px 15px;
}

.barre-de-recherche {
    color: black;
    font-size: large;
    font-family: bold, 'Raleway', sans-serif;
    border: 1px solid #f2f2f2;
    font-weight: bold;
    padding: 15px 0px 15px 15px;
}

.bouton-de-recherche {
    background-color: #0065FC;
    border-radius: 5px;
    border-color: #0065FC;
    color: white;
    font-weight: bold;
    font-size: large;
    font-family: 'Raleway', sans-serif;
    border-radius: 0px 15px 15px 0px;
    margin: 20px 20px 20px -4px;
    padding: 15px 15px 15px 15px;
    cursor: pointer;
}

.filtres {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.filtres-titres {
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-color: black;
    padding: 1em;
}

.fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
    color: #0065FC;
}

.container-filtres {
    border: 2px var(--gris) solid;
    border-radius: 200px;
    margin: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
    max-height: 47px;
}

.icone-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.fa-info {
    border: 2px solid #F2F2F2;
    min-width: 30px;
    min-height: 30px;
    border-radius: 100%;
    font-size: 14px;
    text-align: center;
    padding: 5px 0;
    margin-right: 10px;
}    

.fa-chart-line {
    display: flex;
}

.premier-bloc {
    display: flex;
    width: 100%;
}

.hebergements-a-marseille {
    background-color: #f2f2f2;
    width: 70%;
    border-radius: 20px;
    margin: 2vw 2vw 0 2vw;
}

.container-6-cards {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card-1 {
    width: 17vw;
    font-size: 1rem;
    margin: 0 2vw 2vw 0;
    background-color: white;
    padding: 5px 5px 10px 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
}

.card-image-1 {
    width: 16.4vw;
    height: 7vw;
    border-radius: 15px 15px 0 0;
    object-fit: cover;
    object-position: 50% 60%;
    overflow: hidden;
}

.titre-pop{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.les-plus-populaires {
    background-color: #f2f2f2;
    width: 30%;
    flex-direction:column;
    align-content: center;
    margin: 2vw 2vw 0 0vw;
    border-radius: 20px;
}

.etoiles {
    display: block;
    flex-wrap: wrap;
}

.card-2 {
    display: flex;
    width: 25vw;
    height: 10vw;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px rgb(0 0 0 / 25%);
    font-size: 1rem;
    margin: auto;
    margin-bottom: 2vw;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
}  

.txt-prix-card-2 {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    height: 100%;
    justify-content: space-between;
    margin-left: 10px;
}

.card-image-2 {
    width: 8vw;
    height: 9.4vw;
    border-radius: 15px 0 0 15px;
    object-fit: cover;
    object-position: 50% 50%;
}

.activites-a-marseille {
    padding: 1em 2em 2em 2em;
}

.double-card-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-3 {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin-right: 2vw;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: flex-start;
}

.card-image-3 {
    width: 100%;
    height: 450px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}   

.card-4 {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
}

.card-image-4 {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}   

.card-5 {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
}

.card-image-5 {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

.card-6 {
    width: 20vw;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #f2f2f2;
    text-decoration: none;
    margin : 2vw 0 0 0;
}

.card-image-6 {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}

footer {
    background-color: #f2f2f2;
    display: flex;
    padding-bottom: 2em;
}

footer a {
    display: block;
    text-decoration: none; 
    color: black;
    padding-top: 15px;
}

.footer-items {
    font-weight: bold;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 15px;
    padding-right: 300px;
}


.formulaire {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
}

.filtres-icone {
    width: 2.8rem;
    background-color: var(--bleu-clair);
    border-radius: 100%;
    height: 2.8rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    margin: -2px;
}